@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Handlee&family=Lato:wght@100;300;400;700&family=Montserrat:wght@300;400&display=swap");

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Background */
.background {
    background: linear-gradient(1deg, #dd8b98, #d6d5dd, #d57a89);
    background-size: 600% 600%;

    -webkit-animation: background 16s ease infinite;
    -moz-animation: background 16s ease infinite;
    animation: background 16s ease infinite;
  /*background: rgb(221, 139, 152);*/
  min-height: 100vh;
  z-index: 1;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  z-index: 0;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  right: 8%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 15px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  backdrop-filter: blur(5px);
}

#name {
  font-size: 1.7rem;
  font-weight: 100;
}

.nav-links {
  padding: 16px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  cursor: pointer;
}

/*MAIN*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  color: white;
  text-align: center;
  padding: 0rem 3rem 6rem 3rem;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  letter-spacing: 3px;
  text-align: center;
  font-family: "Abril Fatface", cursive;
  padding-bottom: 1.3rem;
  font-size: clamp(2rem, 10vw, 3.3rem);
}

h2 {
font-family: "Montserrat", sans-serif;
  font-size: 26pt;
  padding: 1rem 0rem;
  letter-spacing: 3px;
}
.left{
    color: rgb(18, 77, 97);
}

.role1 {
  padding-bottom: 1rem;
  color: rgb(18, 77, 97);
  font-size: 2rem;
  letter-spacing: 1.4px;
  font-family: "Montserrat", sans-serif;
  text-decoration-thickness: 0.05px;
  font-weight: 600;
}

.experience-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  letter-spacing: 3px;
  line-height: 2rem;
  font-size: clamp(0.5rem, 7vw, 1.3rem);
}

.me-photo {
  /* width: 100%;*/
  height: auto;
  clip-path: square();
}
.scroll {
  padding-top: 1rem;
  text-align: center;
  color: rgb(234, 234, 234);
  font-weight: 300;
}
.me-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 2rem;
}
.extra-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 60px;
  min-width: 95%;
}

.linkedin {
  text-decoration: none;
  color: rgb(233, 233, 233);
  cursor: pointer;
  transition: 1s ease-in;
  font-size: 1.7rem;
  font-weight: 100;
}

.download {
  border-radius: 25px;
  padding: 8px 8px;
  border: transparent;
  font-family: "Lato", sans-serif;
  color: black;
  font-weight: 100;
  font-size: 1.7rem;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.download:hover {
  background-color: rgb(18, 77, 97);
  color: white;
}
.download2 {
  text-decoration: none;
  color: rgb(18, 77, 97);
}
.download2:hover {
  color: white;
}
.linkedin:hover {
  color: rgb(18, 77, 97);
}

/*About Me*/

.about-me {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 40vh;
}
.title {
  flex: 1; /* additionally, equal width */
  padding: 1rem;
  font-family: "Abril Fatface", cursive;
  font-weight: 600;
  text-align: center;
}
h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.answers {
  flex: 2; /* additionally, equal width */
  width: 200px;
  max-height: 400px;
  overflow-y: scroll;
  overflow: auto;
  text-align: justify;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.3rem;
}

/* Portfolio */
#grey {
  background: linear-gradient(
    to left,
    rgb(169, 169, 169) 50%,
    rgb(255, 255, 255) 50%
  );
}
.project-container {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  justify-content: space-evenly;
}
.portfolio-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
  font-family: "Abril Fatface", cursive;
  font-weight: 600;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.individual-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding: 0rem 1rem;
}
.vid{
    border: transparent;
}
.portfolio-p {
  font-family: "Lato", sans-serif;
  font-weight: 100;
}
.project-links,
.project-name {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  color: black;
}
.flip-text {
  color: white;
  display: inline-block;
  font-size: 26pt;

  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
  display: none !important;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(118, 178, 197);
  min-height: 5vh;
  font-family: "Lato", sans-serif;
}

@-webkit-keyframes background {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
@-moz-keyframes background {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
@keyframes background {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}

@media all and (max-width: 500px) {
  .dropbtn,
  .nav-links,
  .experience-info,
  .linkedin {
    font-weight: 400;
  }
  .disappear {
    visibility: hidden;
  }
  main {
    padding: 0rem 3rem 9rem 3rem;
  }
  .download:hover {
    color: rgb(18, 77, 97);
    background-color: white;
  }
  .download2:hover {
    color: rgb(18, 77, 97);
  }
  .download2 {
    color: white;
  }
  .linkedin:hover {
    color: white;
  }
  .left,
  .flip-text {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
  #name,
  .linkedin {
    font-size: 1rem;
  }
  .linkedin{
    color: rgb(18, 77, 97);
  }
  .download {
    font-size: 1rem;
    background-color: rgb(18, 77, 97);
  }
  .answers {
    width: 90%;
    height: 50%;
    -webkit-overflow-scrolling: touch;
  }
  .role1 {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
  }
  .role,
  .experience-info {
    line-height: 1.2rem;
    padding: 0;
    text-align: justify;
    font-size: 14px;
  }
  .scroll {
    font-size: 13px;
  }
  .extra-info {
    bottom: 10px;
  }
  .projects {
    display: flex;
    flex-direction: column;
  }
}
