@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Handlee&family=Lato:wght@100;300;400;700&family=Montserrat:wght@300;400&display=swap");

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Background */
.background {
  background: rgb(221, 139, 152);
  min-height: 100vh;
  z-index: 1;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  z-index: 0;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  right: 8%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 15px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  backdrop-filter: blur(5px);
}

#name {
  font-size: 1.7rem;
  font-weight: 100;
}

.nav-links {
  padding: 16px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  cursor: pointer;
}

/*MAIN*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  color: white;
  text-align: center;
  padding: 0rem 3rem 6rem 3rem;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  letter-spacing: 3px;
  text-align: center;
  font-family: "Abril Fatface", cursive;
  padding-bottom: 1.3rem;
  font-size: clamp(2rem, 10vw, 3.3rem);
}

h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 26pt;
  padding: 1rem 0rem;
  letter-spacing: 3px;
}
.left {
  color:  rgb(18, 77, 97);
}
.main-animation {
  animation-play-state: running;
}

.role1 {
  padding-bottom: 1rem;
  color: rgb(18, 77, 97);
  font-size: 2rem;
  letter-spacing: 1.4px;
  font-family: "Abril Fatface", cursive;
  text-decoration-thickness: 0.05px;
  font-weight: 600;
}

.experience-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  letter-spacing: 3px;
  line-height: 2rem;
  font-size: clamp(0.5rem, 7vw, 1.3rem);
  text-align: justify;
}

.me-photo {
  /* width: 100%;*/
  height: auto;
  margin: 2rem 0rem 5rem 0rem;
  border-radius: 5px;
}

.scroll {
  padding-top: 1rem;
  text-align: center;
  color: rgb(234, 234, 234);
  font-weight: 300;
}
.me-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: solid 2px rgb(169, 169, 169);
}
.extra-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 60px;
  min-width: 95%;
}

.linkedin {
  text-decoration: none;
  color: rgb(233, 233, 233);
  cursor: pointer;
  transition: 1s ease-in;
  font-size: 1.7rem;
  font-weight: 100;
}

.download {
  border-radius: 25px;
  padding: 8px 8px;
  border: transparent;
  font-family: "Lato", sans-serif;
  color: black;
  font-weight: 100;
  font-size: 1.7rem;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.download:hover {
  background-color: rgb(18, 77, 97);
  color: white;
}
.download2 {
  text-decoration: none;
  color: rgb(18, 77, 97);
}
.download2:hover {
  color: white;
}
.linkedin:hover {
  color: rgb(18, 77, 97);
}

/*About Me*/

.about-me {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 40vh;
}
.title {
  flex: 1; /* additionally, equal width */
  font-family: "Abril Fatface", cursive;
  font-weight: 600;
  text-align: center;
  background-color: rgb(169, 169, 169);
  color: white;
}
h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.about-paragraph {
  flex: 1; /* additionally, equal width */
  text-align: justify;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1rem;
  text-align: center;
}

/* Portfolio */
.project-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#grey,
.projects {
  background: linear-gradient(
    to left,
    rgb(169, 169, 169) 50%,
    rgb(255, 255, 255) 50%
  );
}
.portfolio-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem; min(50px, 5%)max(MINIMUM, min(PREFERRED, MAXIMUM))
  font-family: "Abril Fatface", cursive;
  font-weight: 600;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 0rem;
}
.individual-project {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding: 0rem 1rem;
}
.vid {
  border-radius: 5px;
  border: transparent;
}
.portfolio-p {
  font-family: "Lato", sans-serif;
  font-weight: 100;
}
.project-links,
.project-name {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  color: black;
}
.flip-text {
  color:  rgb(18, 77, 97);
  display: inline-block;
  font-size: 26pt;

  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
  display: none !important;
}

/* Interests and Hobbies*/
marquee {
  text-align: center;
  font-family: "Abril Fatface", cursive;
  font-size: 16pt;
  letter-spacing: 3px;
}
.list-container{
  text-align: center;
  min-height: 20vh;
  background:rgb(221, 139, 152);
}
.tech-logo {
 padding-top: 3rem;
 display: flex;
 align-items: center;
 justify-content: center;
}
.tech-logos{
  padding: .8rem;
}


/* Tech Logos */
.tech-logos{
  height: 90px;
  width: 105px;
}

.marquee2 {
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}


/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(118, 178, 197);
  min-height: 5vh;
  font-family: "Lato", sans-serif;
}

@-webkit-keyframes background {
  0% {
    background-position: 91% 0%;
  }
  50% {
    background-position: 10% 100%;
  }
  100% {
    background-position: 91% 0%;
  }
}
@-moz-keyframes background {
  0% {
    background-position: 91% 0%;
  }
  50% {
    background-position: 10% 100%;
  }
  100% {
    background-position: 91% 0%;
  }
}
@keyframes background {
  0% {
    background-position: 91% 0%;
  }
  50% {
    background-position: 10% 100%;
  }
  100% {
    background-position: 91% 0%;
  }
}

@media all and (max-width: 650px) {
  .dropbtn,
  .nav-links,
  .experience-info,
  .linkedin {
    font-weight: 400;
  }
  .disappear {
    visibility: hidden;
  }
  main {
    padding: 0rem 3rem 9rem 3rem;
  }
  .download:hover {
    color: rgb(18, 77, 97);
    background-color: white;
  }
  .download2:hover {
    color: rgb(18, 77, 97);
  }
  .download2 {
    color: white;
  }
  .linkedin:hover {
    color: white;
  }
  .left,
  .flip-text {
    font-size: 20px;
    color: #d57a89;
  }
  h3 {
    font-size: 15px;
  }
  #name,
  .linkedin {
    font-size: 1rem;
    font-weight: 300;
  }
  .linkedin {
    color: rgb(18, 77, 97);
  }
  .download {
    font-size: 1rem;
    background-color: rgb(18, 77, 97);
  }
  
  .answers {
    width: 90%;
    height: 50%;
    -webkit-overflow-scrolling: touch;
  }
  .role1 {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
  }
  .role,
  .experience-info {
    line-height: 1.2rem;
    padding: 0;
    text-align: justify;
    font-size: 14px;
  }
  .scroll {
    font-size: 13px;
  }
  .extra-info {
    bottom: 10px;
  }
  .projects {
    display: flex;
    flex-direction: column;
  }
  #grey,
  .projects {
    background: 
      rgb(255, 255, 255);
  }
  .projects {
    background:  rgb(18, 77, 97);
    min-height: 100vh;
    z-index: 1;
  }
  .me-photo {
    margin: 2rem 0rem 1rem 0rem;
  }
  .me-info {
    display: flex;
    flex-direction: column;
    background: white;
    border: transparent;
  }
  .about-paragraph {
    padding-bottom: 3rem;
  }
  .title {
    color: pink;
    background-color: white;
    padding-bottom: 0;
  }
  .hello-world {
    visibility: collapse;
    font-size: 1px;
    padding: 0;
  }
  .tech-logo{
    display: flex;
    flex-direction: column;
  }
  .tech-logos {
    height: 80px;
    width: 90px;
}
}
